/* Start Variables */
/* End Variables */
/* Start Global Rules */
body {
  font-family: "Source Code Pro", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*::-moz-selection {
  color: #25262a;
  background-color: #00c769;
}

*::selection {
  color: #25262a;
  background-color: #00c769;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* End Global Rules */
/* Start Components */
/* End Components */
.page {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  max-height: 100vh;
  overflow-y: hidden;
  z-index: 1;
}
.page.loaded {
  max-height: unset;
}

/* Start Lang Box */
.lang-box {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(46, 47, 51, 0.96);
  z-index: 300;
}
.lang-box .container {
  background-color: #25262a;
}
.lang-box .lang-tog {
  cursor: pointer;
  transition: 0.4s;
}
.lang-box .lang-tog:hover {
  background-color: #00c769;
  color: #2d2e32;
}

/* End Lang Box */
/* Start Header */
header {
  min-width: 72px;
  position: relative;
  z-index: 1000;
}
header .navbar-toggler {
  border-color: white;
  color: white;
}
header .navbar-toggler:focus {
  box-shadow: none;
  border-color: #00c769;
}
header .navbar-brand svg {
  color: white;
  font-size: 30px;
}
header .navbar-brand svg:hover {
  color: #00c769;
}
header .nav-link {
  color: white;
  text-transform: capitalize;
}
header .nav-link:hover, header .nav-link.active, header .nav-link:focus {
  color: #00c769 !important;
}
header .dropdown-menu {
  background-color: #25262a;
}
header .dropdown-menu a {
  color: white;
  transition: 0.4s;
  text-transform: capitalize;
}
header .dropdown-menu a:hover {
  background-color: #00c769;
}

/* End Header */
/* Start Land */
.hero {
  position: relative;
  background-color: #2d2e32;
}

.hero-content {
  overflow: hidden;
  position: relative;
  z-index: 10000;
}

.land {
  height: calc(100vh - 72px);
  position: relative;
}
.land .content {
  position: relative;
  z-index: 20000;
}
.land .content p:first-child {
  background-color: #00c769;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 13px;
}
.land .content h1 {
  font-size: 1.75rem;
}
.land .content p {
  font-size: 1rem;
}
.land .content .mobile-photo {
  display: none;
  max-width: 70%;
  margin-top: -40px;
  margin-bottom: 30px;
}
.land .content a {
  color: #00c769;
  text-transform: uppercase;
}
.land .content .socials a {
  color: rgba(255, 255, 255, 0.5);
  transition: 0.4s;
  font-size: 1.35rem;
}
.land .content .socials a:hover {
  color: #00c769;
}
.land .photo .img-holder {
  height: 100%;
  position: relative;
}
.land .photo .img-holder .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #25262a;
  width: 35vw;
  height: 35vw;
  transform: translate(-50%, -50%);
  animation: rotate-circle 5s infinite linear;
}
.land .photo .img-holder img {
  max-width: 100%;
  display: none;
}
.land .photo .img-holder .techs {
  position: relative;
  height: 100%;
  width: 100%;
}
.land .photo .img-holder .techs svg {
  z-index: 2000 !important;
  position: absolute;
  font-size: 50px;
}
.land .photo .img-holder .techs svg:nth-child(1) {
  color: #f7df1e;
  top: 0;
  left: 50%;
  transform: translate(0, -50%);
  display: block;
  animation: rotate-js 5s infinite;
}
.land .photo .img-holder .techs svg:nth-child(2) {
  color: #21759b;
  top: 50%;
  right: 0;
  transform: translate(50%, -50%);
  animation: rotate-wp 5s infinite;
}
.land .photo .img-holder .techs svg:nth-child(3) {
  color: #8892be;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  animation: rotate-php 5s infinite;
}
.land .photo .img-holder .techs svg:nth-child(4) {
  color: #3a2372;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  animation: rotate-bs 5s infinite;
}
.land .img-container {
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 100%;
  transform: translateX(-50%);
}
.land .img-container img {
  z-index: 1000;
  position: relative;
  max-width: 100%;
}

.flag {
  transition: 1s ease-in-out;
  transform: translateX(-5000px);
}
.flag.show {
  transform: translateX(0);
}

@keyframes showFlag {
  from {
    transform: translateX(-5000px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes hideFlag {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5000px);
  }
}
@keyframes rotate-circle {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes rotate-js {
  0% {
    transform: translate(0, -50%) rotate(0);
    opacity: 0;
    width: 0;
  }
  50% {
    opacity: 1;
    width: 100%;
  }
  100% {
    width: 0;
    opacity: 0;
    transform: translate(0, -50%) rotate(-360deg);
  }
}
@keyframes rotate-wp {
  0% {
    transform: translate(50%, -50%) rotate(0);
    opacity: 0;
    width: 100%;
  }
  75% {
    opacity: 1;
    width: 0;
  }
  100% {
    width: 100%;
    opacity: 0;
    transform: translate(50%, -50%) rotate(-360deg);
  }
}
@keyframes rotate-php {
  from {
    transform: translate(-50%, 50%) rotate(0);
  }
  to {
    transform: translate(-50%, 50%) rotate(-360deg);
  }
}
@keyframes rotate-bs {
  from {
    transform: translate(-50%, -50%) rotate(0);
  }
  to {
    transform: translate(-50%, -50%) rotate(-360deg);
  }
}
@media (max-width: 991px) {
  header {
    margin-bottom: 50px;
  }
  .land {
    height: auto;
  }
  .land .content h1 {
    font-size: 1.5rem;
  }
  .land .content p {
    font-size: 1rem;
  }
  .land .content .mobile-photo {
    display: block;
  }
  .land .photo .img-holder {
    width: 100%;
    display: none;
  }
  .land .photo .img-holder .circle {
    display: none;
  }
  .land .img-container {
    display: none;
  }
  .overlay {
    height: 100%;
  }
}
/* End Land */
/* Start Introduce */
.introduce {
  background-color: #25262a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.introduce .skill {
  background-color: #2d2e32;
  transform: translateX(-1000px);
  transition: 0.7s;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.introduce .skill::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 0.4s;
  opacity: 0;
}
.introduce .skill:hover::after {
  background-color: #00c769;
  opacity: 0.1;
  height: 1000%;
  width: 1000%;
  border-radius: 0;
}
.introduce .skill.animate {
  transform: translateX(0);
}
.introduce .skill h3 {
  color: #00c769;
}
.introduce .skill svg {
  color: #00c769;
  font-size: 1.5rem;
}
.introduce .skill h3 {
  font-size: 1.5rem;
}
.introduce .skill p {
  font-size: 13px;
  margin: 0;
}

/* End Introduce */
.technologies {
  background-color: #25262a;
}
.technologies .row svg {
  display: block;
  width: -moz-fit-content;
  width: fit-content;
  font-size: 60px;
  color: rgba(255, 255, 255, 0.5);
}

/* Start Works */
.works {
  background-color: #25262a;
  padding-top: 100px;
  padding-bottom: 100px;
}
.works .shuffle {
  display: flex;
  justify-content: center;
  gap: 50px;
  margin: auto;
  margin-bottom: 50px;
  background-color: #2d2e32;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media (max-width: 991px) {
  .works .shuffle {
    padding-left: 5px;
    padding-right: 5px;
    gap: 10px;
  }
}
@media (max-width: 767px) {
  .works .shuffle {
    justify-content: unset;
    overflow-x: auto;
    cursor: grab;
  }
}
.works .shuffle li {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  color: #00c769;
  text-transform: uppercase;
  font-size: 15px;
  padding: 10px;
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 0.5rem;
}
.works .shuffle .active,
.works .shuffle li:hover {
  background-color: #00c769;
  color: #2d2e32;
}
.works .work {
  background-color: #2d2e32;
  transition: 0.4s;
  position: relative;
}
.works .work h3 {
  color: #00c769;
}
.works .work svg {
  color: rgba(255, 255, 255, 0.5);
  background-color: #4d4e52;
  padding: 5px 10px;
  font-size: 20px;
  border-radius: 5px;
  transition: 0.4s;
  cursor: pointer;
}
.works .work svg:not(:last-of-type) {
  margin-right: 10px;
}
.works .work .work-img {
  overflow: hidden;
  cursor: pointer;
}
.works .work img {
  transition: 0.4s;
}
.works .work:hover {
  transform: scale(1.02);
}
.works .work:hover svg {
  color: #00c769;
}
.works .work:hover img {
  opacity: 0.6;
  transform: scale(1.09);
}
.works .work:hover .work-links {
  opacity: 1;
}
.works .work .work-links {
  opacity: 0;
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 20px;
  transition: 0.4s;
}
.works .work .work-links .work-link a {
  display: block;
  text-decoration: none;
  color: white;
  padding: 10px;
  border: 1px solid white;
  background-color: #2d2e32;
  font-size: 12px;
  transition: 0.4s;
  white-space: nowrap;
}
.works .work .work-links .work-link a:hover {
  color: #25262a;
  background-color: #00c769;
}
.works .others {
  margin-top: 160px;
}
.works .others a,
.works .others h3 {
  color: #00c769;
  -webkit-text-decoration: underline #00c769;
          text-decoration: underline #00c769;
}

.popup {
  display: none;
  width: 100%;
  background-color: rgba(45, 46, 50, 0.814);
  width: 100%;
  position: fixed;
  height: 100vh;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2000;
}
.popup.show {
  display: block;
}
.popup .row {
  height: 100%;
}
.popup .popup-container {
  border-radius: 30px;
  background-color: #25262a;
  z-index: 2000;
  position: relative;
  width: 100%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 500000;
}
.popup .popup-container h5 {
  text-decoration: underline;
}
.popup .popup-container .close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #00c769;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.popup .popup-container .close-btn svg {
  transition-duration: 0.4s;
}
.popup .popup-container .close-btn:hover svg {
  color: #00c769;
}
.popup .popup-content {
  overscroll-behavior: contain;
  overflow-y: auto;
  max-height: 80vh;
}
.popup .popup-content .skill {
  color: #2d2e32;
  background-color: #00c769;
}
.popup .popup-content img {
  max-width: 75%;
}
.popup .popup-content a {
  color: #00c769;
}

::-webkit-scrollbar {
  background-color: #2d2e32;
}

::-webkit-scrollbar-thumb {
  background-color: #43a172;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #00c769;
}

@media (max-width: 991px) {
  .works .work .work-info {
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }
  .popup .popup-container {
    width: 95%;
    text-align: center;
  }
}
/* End Works */
/* Start Steps */
.steps {
  background-color: #25262a;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  background-image: url(../images/Arrow.svg);
  background-size: 95%;
  background-position-y: 320px;
  background-position-x: 2.5vw;
  background-repeat: no-repeat;
}
@media (max-width: 991px) {
  .steps {
    background-image: none;
  }
}
.steps .steps-container {
  display: flex;
  justify-content: space-between;
  perspective: 200px;
  perspective-origin: center center;
}
.steps .steps-container .step-holder {
  flex-basis: calc((100% - 80px) / 5);
  counter-increment: step;
}
.steps .steps-container .step-holder:hover .step {
  transform: translateY(-100%) rotateX(180deg);
}
.steps .steps-container .step-holder:hover .step::after {
  opacity: 0;
}
@media (max-width: 991px) {
  .steps .steps-container {
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  .steps .steps-container .step-holder {
    flex-basis: calc((100% - 40px) / 3);
  }
}
@media (max-width: 767px) {
  .steps .steps-container .step-holder {
    flex-basis: calc((100% - 20px) / 2);
  }
}
.steps .steps-container .step {
  color: #00c769;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 270px;
  transition: transform 0.7s;
  transform-style: preserve-3d;
  transform-origin: center bottom;
}
.steps .steps-container .step::after {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(50%, -50%);
  height: 25px;
  width: 25px;
  border-radius: 50%;
  background-color: #00c769;
  color: #2d2e32;
  font-size: 15px;
  content: counter(step);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.steps .steps-container .step div {
  min-height: 270px;
  background-color: #2d2e32;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  color: white;
}
.steps .steps-container .step div svg {
  font-size: 40px;
  margin-bottom: 20px;
  color: #00c769;
}
.steps .steps-container .step div h2 {
  font-size: 18px;
}
.steps .steps-container .step div h4 {
  font-size: 17px;
  color: #00c769;
}
.steps .steps-container .step div p {
  font-size: 11.5px;
  text-align: center;
  letter-spacing: 0;
  word-spacing: -2.5px;
}
.steps .steps-container .step .face-1 {
  transform: translate(-50%, -50%);
}
.steps .steps-container .step .face-2 {
  transform: translate(-50%, -50%) rotateX(180deg);
  backface-visibility: hidden;
}

/* End Steps */
/* Start Performance */
.performance {
  background-color: #2d2e32;
}
.performance span.green {
  color: #00c769;
}

/* End Performance */
/* Start Testimonials */
.testimonials {
  background-color: #25262a;
  padding-top: 100px;
  padding-bottom: 100px;
  overflow: hidden;
  position: relative;
  z-index: 100;
}
.testimonials .container {
  width: 70%;
  position: relative;
  z-index: 100;
}
.testimonials .tabs-holder {
  position: relative;
}
.testimonials .tab {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 50px;
  transform: translateX(5000px);
  background-color: #2d2e32;
  color: white;
  transition: 0.4s;
}
.testimonials .tab.show {
  animation: showFromRight 1s forwards;
}
.testimonials .tab.hide {
  animation: hideToLeft 1s forwards;
}
.testimonials .tab a {
  color: #00c769;
}
.testimonials .tab .rating svg {
  color: #00c769;
  font-size: 12px;
  margin-right: 5px;
}
.testimonials .tab .rating span {
  font-size: 12px;
}
.testimonials .tab .quote svg {
  font-size: 80px;
}
.testimonials li {
  padding: 10px 20px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  cursor: pointer;
  transition: duration;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  position: relative;
  overflow: hidden;
}
.testimonials li::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  border-radius: 50%;
  transition: 0.4s;
  opacity: 0;
}
.testimonials li:hover::after {
  background-color: #00c769;
  opacity: 0.1;
  height: 1000%;
  width: 1000%;
  border-radius: 0;
}
.testimonials li h5 {
  font-size: 15px;
}
.testimonials li p {
  font-size: 13px;
}
.testimonials li.active,
.testimonials li:hover {
  border-color: #00c769;
}

@keyframes showFromRight {
  from {
    transform: translateX(5000px);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes hideToLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-5000px);
  }
}
@media (max-width: 991px) {
  .testimonials .container {
    width: 100%;
  }
  .testimonials .container .tab p {
    font-size: 12px;
  }
}
/* Start Services */
.services {
  background-color: #25262a;
  padding-top: 7rem;
  padding-bottom: 7rem;
  position: relative;
  overflow: hidden;
  left: 0;
  width: 100%;
  transition: 0.7s ease-in-out;
}
.services .container {
  position: relative;
  z-index: 3;
}
.services .services-info {
  margin-bottom: 7rem;
}
.services .service {
  background-color: #2d2e32;
  text-align: center;
  padding: 30px;
  margin-bottom: 70px;
  opacity: 1;
  transition: 0.4s;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #00c769;
  position: relative;
}
.services .service.special::after {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2d2e32;
  font-size: 20px;
  padding: 5px 20px;
  border-radius: 5px;
  background-color: #00c769;
  white-space: nowrap;
}
.services .service.special.soon::after {
  font-size: 12px;
  content: "Soon...";
}
.services .service.special.popular {
  transform: translateY(-40px);
}
.services .service.special.popular .service-img {
  border: 1px solid #00c769;
}
.services .service.special.popular h4 {
  color: #00c769;
}
.services .service.special.popular::after {
  content: "Most Popular";
}
.services .service:hover {
  transform: translateY(-40px);
  box-shadow: rgba(255, 255, 255, 0.25) 0px 5px 15px;
}
.services .service .service-img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin-bottom: 40px;
  padding: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
}
.services .service .service-img img {
  width: 64px;
}
.services .service h4 {
  margin-bottom: 20px;
  color: white;
}
.services .service p {
  color: white;
  line-height: 1.8;
  font-size: 12px;
}
.services .service .order a {
  color: #2d2e32;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background-color: #00c769;
  padding: 10px;
  border-radius: 5px;
  transition: 0.4s;
  text-decoration: none;
}
.services .service .order a:hover {
  background-color: transparent;
  color: #00c769;
}

/* End Services */
/* Start Contact */
.contact {
  overflow: hidden;
  background-color: #2d2e32;
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.contact label {
  color: white;
  margin-bottom: 1rem;
}
.contact textarea,
.contact input {
  margin-bottom: 2.5rem;
  background-color: #25262a;
  border: 1px solid #00c769;
  caret-color: #00c769;
  color: white;
}
.contact textarea:focus,
.contact input:focus {
  color: white;
  box-shadow: 0 0 0 0.25rem rgba(100, 244, 172, 0.2588235294);
  background-color: #25262a;
}
.contact .btn:hover {
  background-color: #00c769;
  color: #2d2e32;
  border-color: #00c769;
}
.contact .message {
  transform: translateX(5000px);
  transition: 0.4s;
}
.contact .message.show {
  transform: translateX(0);
}

/* End Contact */
/* Start Footer */
footer {
  background-color: #2d2e32;
  padding-bottom: 1rem;
}
footer .name a,
footer .socials a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.4s;
}
footer .socials a:hover {
  color: #00c769;
}
footer .thanks a {
  color: #00c769;
}

/* End Footer */
/* Start Loader */
.loader {
  display: inline-block;
  position: relative;
  width: 30px;
  height: 30px;
}

.loader div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border: 5px solid #00c769;
  border-radius: 50%;
  animation: loader 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #00c769 transparent transparent transparent;
}

.loader div:nth-child(1) {
  animation-delay: -0.45s;
}

.loader div:nth-child(2) {
  animation-delay: -0.3s;
}

.loader div:nth-child(3) {
  animation-delay: -0.15s;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/* End Loader *//*# sourceMappingURL=main.css.map */